<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giving.mapper.BetInfoMapper">
    <resultMap id="BaseResultMap" type="com.giving.entity.BetInfoEntity">
        <id property="projectId" column="project_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="packageId" column="package_id" jdbcType="VARCHAR"/>
        <result property="taskId" column="task_id" jdbcType="VARCHAR"/>
        <result property="lotteryId" column="lottery_id" jdbcType="INTEGER"/>
        <result property="methodId" column="method_id" jdbcType="INTEGER"/>
        <result property="issue" column="issue" jdbcType="VARCHAR"/>
        <result property="bonus" column="bonus" jdbcType="DECIMAL"/>
        <result property="winbonus" column="winbonus" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="codeType" column="code_type" jdbcType="VARCHAR"/>
        <result property="singlePrice" column="single_price" jdbcType="DECIMAL"/>
        <result property="multiple" column="multiple" jdbcType="VARCHAR"/>
        <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
        <result property="writeTime" column="write_time" jdbcType="TIMESTAMP"/>
        <result property="scode" column="scode" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deductTime" column="deduct_time" jdbcType="TIMESTAMP"/>
        <result property="bonusTime" column="bonus_time" jdbcType="TIMESTAMP"/>
        <result property="cancelTime" column="cancel_time" jdbcType="TIMESTAMP"/>
        <result property="isDeduct" column="is_deduct" jdbcType="INTEGER"/>
        <result property="isCancel" column="is_cancel" jdbcType="INTEGER"/>
        <result property="isGetprize" column="is_getprize" jdbcType="INTEGER"/>
        <result property="prizeStatus" column="prize_status" jdbcType="INTEGER"/>
        <result property="gameCancelCount" column="game_cancel_count" jdbcType="TINYINT"/>
        <result property="userIp" column="user_ip" jdbcType="VARCHAR"/>
        <result property="modes" column="modes" jdbcType="VARCHAR"/>
        <result property="hashvar" column="hashvar" jdbcType="VARCHAR"/>
        <result property="userPoint" column="user_point" jdbcType="VARCHAR"/>
        <result property="isNew" column="is_new" jdbcType="VARCHAR"/>
        <result property="comefrom" column="comefrom" jdbcType="VARCHAR"/>
        <result property="pointStatus" column="point_status" jdbcType="INTEGER"/>
        <result property="thirdPartyTrxId" column="third_party_trx_id" jdbcType="VARCHAR"/>
        <result property="platform" column="platform" jdbcType="VARCHAR"/>
        <result property="log" column="log" jdbcType="VARCHAR"/>
        <result property="writeMicrotime" column="write_microtime" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="pointinfo" column="pointinfo" jdbcType="VARCHAR"/>
        <result property="methodCode" column="methodCode" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectListByNoticeReq" resultType="com.giving.entity.BetInfoEntity">
        SELECT pr.*, me.`code` as methodCode
        FROM ${noticeReq.title}_projects pr
        LEFT JOIN method me ON pr.method_id = me.method_id
		where pr.issue = #{noticeReq.issue}
		  and pr.lottery_id = #{noticeReq.lotteryId}
		  and is_getprize = 0
		  and is_cancel = 0
        order by pr.project_id
    </select>
    <select id="countListByNoticeReq" resultType="java.lang.Integer">
        SELECT count(1) as methodCode FROM ${noticeReq.title}_projects pr LEFT JOIN method me ON pr.method_id = me.method_id
        where pr.issue = #{noticeReq.issue} and pr.lottery_id = #{noticeReq.lotteryId} and is_getprize = 0 and is_cancel = 0
        order by pr.project_id
    </select>


    <!--    批量修改派奖状态-->
<!--    <update id="updatePrizeStatus">-->
<!--        <foreach collection="projects" item="project" open="" close="" separator=";">-->
<!--            UPDATE ${title}_projects SET-->
<!--            bonus = #{project.bonus},-->
<!--            is_getprize = 1,-->
<!--            prize_status = #{project.prizeStatus},-->
<!--            bonus_time = now(),-->
<!--            updated_at = now()-->
<!--            WHERE project_id = #{project.projectId}-->
<!--              AND is_cancel = 0-->
<!--              AND prize_status = 0-->
<!--        </foreach>-->
<!--    </update>-->
    <update id="updatePrizeStatus">
        UPDATE ${title}_projects
        SET
        bonus =
        CASE
        <foreach collection="projects" item="project" separator=" ">
            WHEN project_id = #{project.projectId} THEN #{project.bonus}
        </foreach>
        END,
        is_getprize = 1,
        prize_status =
        CASE
        <foreach collection="projects" item="project" separator=" ">
            WHEN project_id = #{project.projectId} THEN #{project.prizeStatus}
        </foreach>
        END,
        bonus_time = now(),
        updated_at = now()
        WHERE project_id IN
        <foreach collection="projects" item="project" open="(" close=")" separator=",">
            #{project.projectId}
        </foreach>
        AND is_cancel = 0
        AND prize_status = 0
    </update>

    <!--    批量修改注单状态为已经结算-->
<!--    <update id="updateIsDeduct">-->
<!--        <foreach collection="projects" item="project" open="" close="" separator=";">-->
<!--            UPDATE  ${title}_projects-->
<!--            SET is_deduct = #{project.isDeduct}, deduct_time=now()-->
<!--            WHERE project_id = #{project.projectId}-->
<!--            AND is_deduct =0-->
<!--            AND is_cancel =0-->
<!--        </foreach>-->
<!--    </update>-->
    <update id="updateIsDeduct">
        UPDATE ${title}_projects
        SET is_deduct =
        CASE
        <foreach collection="projects" item="project" separator=" ">
            WHEN project_id = #{project.projectId} THEN #{project.isDeduct}
        </foreach>
        END,
        deduct_time = now()
        WHERE project_id IN
        <foreach collection="projects" item="project" open="(" close=")" separator=",">
            #{project.projectId}
        </foreach>
        AND is_deduct = 0
        AND is_cancel = 0
    </update>

    <!--    更新注单中奖状态 未中奖-->
    <update id="updateByNotWinList">
        <foreach collection="notWinList" item="item" open="" close="" separator=";">
            update ${noticeReq.title}_projects set is_getprize = 2,prize_status = 0,updated_at = now() where project_id = #{item.projectId}
        </foreach>
    </update>

    <!--    获取所有尚未'真实扣款'的方案-->
    <select id="checkProjects" resultType="com.giving.entity.BetInfoEntity">
        SELECT * FROM ${title}_projects
                 WHERE lottery_id = #{issue.lotteryId} AND issue = #{issue.issue}
                   AND is_deduct=0 AND is_cancel=0 ORDER BY user_id
    </select>
    <!--    修改注单状态为已经结算-->
    <update id="updateDeduct">
        UPDATE  ${title}_projects
        SET is_deduct = #{project.isDeduct}, deduct_time=now()
        WHERE project_id = #{project.projectId}
          AND is_deduct =0
          AND is_cancel =0
    </update>
    <!--    修改注单状态为已中奖&已经派奖-->
    <update id="updateIsGetprize1">
        UPDATE  ${title}_projects
        SET is_getprize = 1,prize_status=1,
            bonus = #{item.winbonus}, bonus_time = now(),
            update_time = now(), updated_at = now()
        WHERE project_id = #{project.projectId}
          AND is_cancel = 0
          AND is_getprize = 0
    </update>
    <!--    修改注单状态为未中奖-->
    <update id="updateIsGetprize2">

        <foreach collection="notWinList" item="item" open="" close="" separator=";">
            update ${title}_projects set is_getprize = 2,updated_at = now()
            where project_id = #{item.projectId}
            AND is_cancel = 0
            AND is_getprize = 0
        </foreach>
    </update>

</mapper>
