<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giving.mapper.BetInfoMapper">
    <resultMap id="BaseResultMap" type="com.giving.entity.BetInfoEntity">
        <id property="projectId" column="project_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="packageId" column="package_id" jdbcType="VARCHAR"/>
        <result property="taskId" column="task_id" jdbcType="VARCHAR"/>
        <result property="lotteryId" column="lottery_id" jdbcType="INTEGER"/>
        <result property="methodId" column="method_id" jdbcType="INTEGER"/>
        <result property="issue" column="issue" jdbcType="VARCHAR"/>
        <result property="bonus" column="bonus" jdbcType="DECIMAL"/>
        <result property="winbonus" column="winbonus" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="codeType" column="code_type" jdbcType="VARCHAR"/>
        <result property="singlePrice" column="single_price" jdbcType="DECIMAL"/>
        <result property="multiple" column="multiple" jdbcType="VARCHAR"/>
        <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
        <result property="writeTime" column="write_time" jdbcType="TIMESTAMP"/>
        <result property="scode" column="scode" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deductTime" column="deduct_time" jdbcType="TIMESTAMP"/>
        <result property="bonusTime" column="bonus_time" jdbcType="TIMESTAMP"/>
        <result property="cancelTime" column="cancel_time" jdbcType="TIMESTAMP"/>
        <result property="isDeduct" column="is_deduct" jdbcType="INTEGER"/>
        <result property="isCancel" column="is_cancel" jdbcType="INTEGER"/>
        <result property="isGetprize" column="is_getprize" jdbcType="INTEGER"/>
        <result property="prizeStatus" column="prize_status" jdbcType="INTEGER"/>
        <result property="gameCancelCount" column="game_cancel_count" jdbcType="TINYINT"/>
        <result property="userIp" column="user_ip" jdbcType="VARCHAR"/>
        <result property="modes" column="modes" jdbcType="VARCHAR"/>
        <result property="hashvar" column="hashvar" jdbcType="VARCHAR"/>
        <result property="userPoint" column="user_point" jdbcType="VARCHAR"/>
        <result property="isNew" column="is_new" jdbcType="VARCHAR"/>
        <result property="comefrom" column="comefrom" jdbcType="VARCHAR"/>
        <result property="pointStatus" column="point_status" jdbcType="INTEGER"/>
        <result property="thirdPartyTrxId" column="third_party_trx_id" jdbcType="VARCHAR"/>
        <result property="platform" column="platform" jdbcType="VARCHAR"/>
        <result property="log" column="log" jdbcType="VARCHAR"/>
        <result property="writeMicrotime" column="write_microtime" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="pointinfo" column="pointinfo" jdbcType="VARCHAR"/>
        <result property="methodCode" column="methodCode" jdbcType="VARCHAR"/>
    </resultMap>

<!--    <insert id="addOrdersReArray">-->
<!--        <foreach collection="sumList" item="item" open="" close="" separator=";">-->
<!--            INSERT INTO ${noticeReq.title}_orders (-->
<!--            lottery_id, method_id, task_id, project_id,-->
<!--            fromuser_id, touser_id, agent_id, admin_id, admin_name,-->
<!--            order_type_id, title, amount, description,-->
<!--            pre_balance, pre_hold, pre_available,-->
<!--            channel_balance, hold_balance, available_balance,-->
<!--            client_ip, proxy_ip, times, action_time,-->
<!--            third_party_trx_id, send_money_to_platform,-->
<!--            transfer_user_id, transfer_channel_id, transfer_order_id, transfer_status,-->
<!--            unique_key, modes, cardnotice,-->
<!--            created_at, updated_at, issue, entry-->
<!--            ) VALUES (-->
<!--                      #{item.lotteryId},#{item.methodId},#{item.taskId},#{item.projectId},#{item.userId},0,0,0,null,5,'奖金派送',#{item.bonus},-->
<!--                      '奖金派送',#{item.},-->
<!--            :lottery_id, :method_id, :task_id, :project_id,-->
<!--            :fromuser_id, :touser_id, :agent_id, :admin_id, :admin_name,-->
<!--            5, :title, :amount, :description,-->
<!--            :pre_balance, :pre_hold, :pre_available,-->
<!--            :channel_balance, :hold_balance, :available_balance,-->
<!--            '0.0.0.0', '0.0.0.0', :times, :action_time,-->
<!--            :third_party_trx_id, :send_money_to_platform,-->
<!--            :transfer_user_id, :transfer_channel_id, :transfer_order_id, :transfer_status,-->
<!--            :unique_key, :modes, '',-->
<!--            :created_at, :updated_at, :issue, :entry-->
<!--            );-->
<!--        </foreach>-->
<!--    </insert>-->
    <select id="selectListByNoticeReq" resultType="com.giving.entity.BetInfoEntity">
        SELECT pr.*, me.`code` as methodCode FROM ${noticeReq.title}_projects pr LEFT JOIN method me ON pr.method_id = me.method_id
		where pr.issue = #{noticeReq.issue} and pr.lottery_id = #{noticeReq.lotteryId} and is_getprize = 0 and is_cancel = 0
        order by pr.project_id
    </select>
    <select id="countListByNoticeReq" resultType="java.lang.Integer">
        SELECT count(1) as methodCode FROM ${noticeReq.title}_projects pr LEFT JOIN method me ON pr.method_id = me.method_id
        where pr.issue = #{noticeReq.issue} and pr.lottery_id = #{noticeReq.lotteryId} and is_getprize = 0 and is_cancel = 0
        order by pr.project_id
    </select>
    <!--    更新注单中奖状态 已经中奖-->
    <update id="updateWinbonus">
        <foreach collection="sumList" item="item" open="" close="" separator=";">
        update ${noticeReq.title}_projects set
          bonus = #{item.winbonus},
          is_getprize = 1,
          bonus_time = #{bonusTime},
          update_time = #{bonusTime},
          updated_at = now()
          where project_id = #{item.projectId} and is_cancel = 0
        </foreach>
    </update>
    <!--    更新注单中奖状态 未中奖-->
    <update id="updateByNotWinList">
        <foreach collection="notWinList" item="item" open="" close="" separator=";">
            update ${noticeReq.title}_projects set is_getprize = 2,prize_status = 1,updated_at = now() where project_id = #{item.projectId}
        </foreach>
    </update>
    <!--    执行用户钱包锁定与解锁-->
    <update id="doLockUserFund">
        UPDATE ${title}_user_fund set islocked = 1,
        lock_action = 1,-- 资金被锁状态, 0=正常, 1=被锁
        updated_at = now()
        <where>
            and userid in
            <foreach collection="userIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            AND islocked = 0 AND wallet_type = #{walletType};
        </where>
    </update>
    <update id="unLockUserFund">
        UPDATE ${noticeReq.title}_user_fund
        SET islocked = 0,
            lock_action = 'RW_001 解锁',
            updated_at = now()
        <where>
            and userid in
            <foreach collection="userIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
            AND islocked = 1 AND wallet_type = 5;
        </where>

    </update>

    <!-- 查询钱包余额（FOR UPDATE 可选，但建议） -->
    <select id="selectUserFundBalancesForUpdate" resultType="com.giving.entity.UserFundEntity">
        SELECT
        userid AS userId,
        channelbalance AS channelBalance,
        availablebalance AS availableBalance,
        holdbalance AS holdBalance
        FROM ${noticeReq.title}_user_fund
        WHERE wallet_type = 5
        AND islocked = 1
        AND userid IN
        <foreach collection="userIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        FOR UPDATE
    </select>

    <!-- 批量插入 orders -->
    <insert id="batchInsertOrders">
        INSERT INTO ${noticeReq.title}_orders
        (
        lottery_id, method_id, issue, project_id, task_id, modes, fromuser_id,
        amount, order_type_id, title, description,
        pre_balance, pre_available, pre_hold,
        channel_balance, available_balance, hold_balance,
        times, action_time,
        created_at, updated_at,
        entry, unique_key,
        client_ip, proxy_ip,
        third_party_trx_id, send_money_to_platform,
        touser_id, agent_id, admin_id, admin_name,
        transfer_user_id, transfer_channel_id, transfer_order_id, transfer_status,
        cardnotice
        )
        VALUES
        <foreach collection="orders" item="o" separator=",">
            (
            #{o.lotteryId}, #{o.methodId}, #{o.issue}, #{o.projectId}, #{o.taskId}, #{o.modes}, #{o.fromuserId},
            #{o.amount}, #{o.orderTypeId}, #{o.title}, #{o.description},
            #{o.preBalance}, #{o.preAvailable}, #{o.preHold},
            #{o.channelBalance}, #{o.availableBalance}, #{o.holdBalance},
            #{o.times}, #{o.actionTime},
            #{o.createdAt}, #{o.updatedAt},
            #{o.entry}, #{o.uniqueKey},
            #{o.clientIp}, #{o.proxyIp},
            #{o.thirdPartyTrxId}, #{o.sendMoneyToPlatform},
            #{o.touserId}, #{o.agentId}, #{o.adminId}, #{o.adminName},
            #{o.transferUserId}, #{o.transferChannelId}, #{o.transferOrderId}, #{o.transferStatus},
             ''
            )
        </foreach>
    </insert>
    <!--    获取所有尚未'真实扣款'的方案-->
    <select id="checkProjects" resultType="com.giving.entity.BetInfoEntity">
        SELECT * FROM ${title}_projects
                 WHERE lottery_id = #{issue.lotteryId} AND issue = #{issue.issue}
                   AND is_deduct=0 AND is_cancel=0 ORDER BY created_at;
    </select>
    <update id="updateDeduct">
        UPDATE  ${title}_projects SET is_deduct = #{project.isDeduct}
        <where>
            AND project_id = #{project.project_id}
            AND is_deduct =0
        </where>
    </update>

</mapper>
