<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giving.mapper.IssueInfoMapper">

    <resultMap id="BaseResultMap" type="com.giving.entity.IssueInfoEntity">
            <result property="issueId" column="issue_id" jdbcType="INTEGER"/>
            <result property="lotteryId" column="lottery_id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="issue" column="issue" jdbcType="VARCHAR"/>
            <result property="jobId" column="job_id" jdbcType="VARCHAR"/>
            <result property="openDate" column="open_date" jdbcType="TIMESTAMP"/>
            <result property="belongDate" column="belong_date" jdbcType="VARCHAR"/>
            <result property="autoissueBelongDate" column="autoissue_belong_date" jdbcType="DATE"/>
            <result property="saleStart" column="sale_start" jdbcType="TIMESTAMP"/>
            <result property="saleEnd" column="sale_end" jdbcType="TIMESTAMP"/>
            <result property="cancelDeadline" column="cancel_deadline" jdbcType="TIMESTAMP"/>
            <result property="writeTime" column="write_time" jdbcType="TIMESTAMP"/>
            <result property="writeId" column="write_id" jdbcType="INTEGER"/>
            <result property="statusFetch" column="status_fetch" jdbcType="INTEGER"/>
            <result property="statusCode" column="status_code" jdbcType="INTEGER"/>
            <result property="cancelStatus" column="cancel_status" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="drawType" column="draw_type" jdbcType="INTEGER"/>
            <result property="random" column="random" jdbcType="INTEGER"/>
            <result property="isClose" column="is_close" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        issue_id,lottery_id,code,
        issue,job_id,open_date,
        belong_date,autoissue_belong_date,sale_start,
        sale_end,cancel_deadline,write_time,
        write_id,status_fetch,status_code,
        cancel_status,created_at,updated_at,
        draw_type,random,is_close
    </sql>
    <insert id="insertIssueToRooms">
        <foreach collection="titles" item="prefix" open="" close="" separator=";">
            UPDATE `${prefix}_issue_info` set
            code = #{issueInfo.code},
            status_fetch = 2,
            status_code = 2,
            open_date = #{issueInfo.openDate},
            write_time = now(),
            write_id = 0,
            verify_time = now(),
            updated_at = now(),
            status_check_bonus = 2,
            status_bonus = 2,
            status_task_to_project = 2
            where issue_id = #{issueInfo.issueId}
        </foreach>
    </insert>
    <select id="selectByTitle" resultType="com.giving.entity.IssueInfoEntity">
        select * from ${titles}_issue_info
        where lottery_id = #{req.lotteryId} and issue = #{req.issue}
    </select>
    <select id="selectUserNoteList" resultType="com.giving.resp.UserNoteListResp">
        select
        issue_id as issueId,
        lottery_id as lotteryId,
        code as code,
        issue as issue,
        open_date as openDate,
        sale_start as saleStart,
        sale_end as saleEnd
        from
        <if test="title != null and title != ''">
            ${title}_issue_info
        </if>
        <if test="title == null or title == ''">
            issue_info
        </if>
        where issue = #{req.issue} and lottery_id = #{req.lotteryId}
    </select>
</mapper>
