<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giving.mapper.ProjectsTmpMapper">

    <resultMap id="BaseResultMap" type="com.giving.entity.ProjectsTmpEntity">
            <id property="tmpId" column="tmp_id" jdbcType="VARCHAR"/>
            <result property="issueId" column="issue_id" jdbcType="INTEGER"/>
            <result property="lotteryId" column="lottery_id" jdbcType="INTEGER"/>
            <result property="projectId" column="project_id" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="tmpValue" column="tmp_value" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        tmp_id,issue_id,lottery_id,
        project_id,status,tmp_value,
        created_at,updated_at
    </sql>
</mapper>
