<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giving.mapper.ProjectsTmpMapper">
    <insert id="createData">
        <foreach collection='titles' item='title' separator=';'>
            INSERT INTO ${title}_projects (`project_id`, `user_id`, `package_id`, `task_id`, `lottery_id`, `method_id`, `issue`, `bonus`, `winbonus`, `code`, `code_type`, `single_price`, `multiple`, `total_price`, `write_time`, `scode`, `update_time`, `deduct_time`, `bonus_time`, `cancel_time`, `is_deduct`, `is_cancel`, `is_getprize`, `prize_status`, `game_cancel_count`, `user_ip`, `modes`, `hashvar`, `user_point`, `is_new`, `comefrom`, `point_status`, `third_party_trx_id`, `platform`, `log`, `write_microtime`, `created_at`, `updated_at`, `pointinfo`)
            VALUES
            <foreach collection='uuids' item='uuid' index='index' separator=','>
                (concat(#{uuid},'a'), '311697853b1f1007', '1', '', 243, 2430003, #{issue.issue}, 0.000000, '3', '0', 'digital', 1.000000, '1', 1.000000, '2026-01-27 15:29:06', '{\"scode\":0,\"scode_key\":0,\"digitstr\":\"\",\"oldcode\":\"\",\"code_name\":\"\",\"method_id\":\"2430003\",\"selectType\":\"\",\"onePrice\":\"1\",\"total_bonus\":3.2,\"hprize\":3.2,\"nums\":1,\"codeType\":\"\"}', '2026-01-27 15:29:06', '2026-01-27 15:29:06', '2026-01-27 15:29:06', NULL, 0, 0, 0, 0, 0, '192.168.124.3', '1', '', '0', '1', '', 0, NULL, 'web', NULL, '1769498946', '2026-01-27 15:29:06', '2026-01-27 15:29:06', '{\"level\":\"1\",\"single_prize\":\"3.2\",\"point\":\"0.000\",\"point_price\":\"0\",\"prize\":[\"3.2\"]}'),
                (concat(#{uuid},'b'), '311697853b1f1007', '1', '', 243, 2430004, #{issue.issue}, 0.000000, '4', '0', 'digital', 1.000000, '1', 1.000000, '2026-01-27 15:29:06', '{\"scode\":0,\"scode_key\":0,\"digitstr\":\"\",\"oldcode\":\"\",\"code_name\":\"\",\"method_id\":\"2430004\",\"selectType\":\"\",\"onePrice\":\"1\",\"total_bonus\":4.2,\"hprize\":4.2,\"nums\":1,\"codeType\":\"\"}', '2026-01-27 15:29:06', '2026-01-27 15:29:06', '2026-01-27 15:29:06', NULL, 0, 0, 0, 0, 0, '192.168.124.3', '1', '', '0', '1', '', 0, NULL, 'web', NULL, '1769498946', '2026-01-27 15:29:06', '2026-01-27 15:29:06', '{\"level\":\"1\",\"single_prize\":\"4.2\",\"point\":\"0.000\",\"point_price\":\"0\",\"prize\":[\"4.2\"]}'),
                (concat(#{uuid},'c'), '311697853b1f1007', '1', '', 243, 2430007, #{issue.issue}, 0.000000, '90', '01', 'digital', 1.000000, '1', 1.000000, '2026-01-27 15:29:13', '{\"scode\":\"01\",\"scode_key\":\"01\",\"digitstr\":\"\",\"oldcode\":\"\",\"code_name\":\"\",\"method_id\":\"2430007\",\"selectType\":\"\",\"onePrice\":\"1\",\"total_bonus\":90,\"hprize\":90,\"nums\":1,\"codeType\":\"\"}', '2026-01-27 15:29:13', '2026-01-27 15:29:13', '2026-01-27 15:29:13', NULL, 0, 0, 0, 0, 0, '192.168.124.3', '1', '', '0', '1', '', 0, NULL, 'web', NULL, '1769498953', '2026-01-27 15:29:13', '2026-01-27 15:29:13', '{\"level\":\"1\",\"single_prize\":\"90\",\"point\":\"0.000\",\"point_price\":\"0\",\"prize\":[\"90\"]}'),
                (concat(#{uuid},'d'), '311697853b1f1007', '1', '', 243, 2430008, #{issue.issue}, 0.000000, '90', '01', 'digital', 1.000000, '1', 1.000000, '2026-01-27 15:29:13', '{\"scode\":\"01\",\"scode_key\":\"01\",\"digitstr\":\"\",\"oldcode\":\"\",\"code_name\":\"\",\"method_id\":\"2430008\",\"selectType\":\"\",\"onePrice\":\"1\",\"total_bonus\":90,\"hprize\":90,\"nums\":1,\"codeType\":\"\"}', '2026-01-27 15:29:13', '2026-01-27 15:29:13', '2026-01-27 15:29:13', NULL, 0, 0, 0, 0, 0, '192.168.124.3', '1', '', '0', '1', '', 0, NULL, 'web', NULL, '1769498953', '2026-01-27 15:29:13', '2026-01-27 15:29:13', '{\"level\":\"1\",\"single_prize\":\"90\",\"point\":\"0.000\",\"point_price\":\"0\",\"prize\":[\"90\"]}'),
                (concat(#{uuid},'e'), '311697853b1f1007', '1', '', 243, 2430009, #{issue.issue}, 0.000000, '15', '01', 'digital', 1.000000, '1', 1.000000, '2026-01-27 15:29:13', '{\"scode\":\"01\",\"scode_key\":\"01\",\"digitstr\":\"\",\"oldcode\":\"\",\"code_name\":\"\",\"method_id\":\"2430009\",\"selectType\":\"\",\"onePrice\":\"1\",\"total_bonus\":15,\"hprize\":15,\"nums\":1,\"codeType\":\"\"}', '2026-01-27 15:29:13', '2026-01-27 15:29:13', '2026-01-27 15:29:13', NULL, 0, 0, 0, 0, 0, '192.168.124.3', '1', '', '0', '1', '', 0, NULL, 'web', NULL, '1769498953', '2026-01-27 15:29:13', '2026-01-27 15:29:13', '{\"level\":\"1\",\"single_prize\":\"15\",\"point\":\"0.000\",\"point_price\":\"0\",\"prize\":[\"15\"]}'),
                (concat(#{uuid},'f'), '311697853b1f1007', '1', '', 243, 2430012, #{issue.issue}, 0.000000, '900', '023', 'digital', 1.000000, '1', 1.000000, '2026-01-27 15:29:19', '{\"scode\":\"023\",\"scode_key\":\"023\",\"digitstr\":\"\",\"oldcode\":\"\",\"code_name\":\"\",\"method_id\":\"2430012\",\"selectType\":\"\",\"onePrice\":\"1\",\"total_bonus\":900,\"hprize\":900,\"nums\":1,\"codeType\":\"\"}', '2026-01-27 15:29:19', '2026-01-27 15:29:19', '2026-01-27 15:29:19', NULL, 0, 0, 0, 0, 0, '192.168.124.3', '1', '', '0', '1', '', 0, NULL, 'web', NULL, '1769498959', '2026-01-27 15:29:19', '2026-01-27 15:29:19', '{\"level\":\"1\",\"single_prize\":\"900\",\"point\":\"0.000\",\"point_price\":\"0\",\"prize\":[\"900\"]}'),
                (concat(#{uuid},'g'), '311697853b1f1007', '1', '', 243, 2430013, #{issue.issue}, 0.000000, '450', '023', 'digital', 1.000000, '1', 1.000000, '2026-01-27 15:29:19', '{\"scode\":\"023\",\"scode_key\":\"023\",\"digitstr\":\"\",\"oldcode\":\"\",\"code_name\":\"\",\"method_id\":\"2430013\",\"selectType\":\"\",\"onePrice\":\"1\",\"total_bonus\":450,\"hprize\":450,\"nums\":1,\"codeType\":\"\"}', '2026-01-27 15:29:19', '2026-01-27 15:29:19', '2026-01-27 15:29:19', NULL, 0, 0, 0, 0, 0, '192.168.124.3', '1', '', '0', '1', '', 0, NULL, 'web', NULL, '1769498959', '2026-01-27 15:29:19', '2026-01-27 15:29:19', '{\"level\":\"1\",\"single_prize\":\"450\",\"point\":\"0.000\",\"point_price\":\"0\",\"prize\":[\"450\"]}'),
                (concat(#{uuid},'h'), '311697853b1f1007', '1', '', 243, 2430014, #{issue.issue}, 0.000000, '450', '023', 'digital', 1.000000, '1', 1.000000, '2026-01-27 15:29:19', '{\"scode\":\"023\",\"scode_key\":\"023\",\"digitstr\":\"\",\"oldcode\":\"\",\"code_name\":\"\",\"method_id\":\"2430014\",\"selectType\":\"\",\"onePrice\":\"1\",\"total_bonus\":450,\"hprize\":450,\"nums\":1,\"codeType\":\"\"}', '2026-01-27 15:29:19', '2026-01-27 15:29:19', '2026-01-27 15:29:19', NULL, 0, 0, 0, 0, 0, '192.168.124.3', '1', '', '0', '1', '', 0, NULL, 'web', NULL, '1769498959', '2026-01-27 15:29:19', '2026-01-27 15:29:19', '{\"level\":\"1\",\"single_prize\":\"450\",\"point\":\"0.000\",\"point_price\":\"0\",\"prize\":[\"450\"]}'),
                (concat(#{uuid},'i'), '311697853b1f1007', '1', '', 243, 2430015, #{issue.issue}, 0.000000, '150', '023', 'digital', 1.000000, '1', 1.000000, '2026-01-27 15:29:19', '{\"scode\":\"023\",\"scode_key\":\"023\",\"digitstr\":\"\",\"oldcode\":\"\",\"code_name\":\"\",\"method_id\":\"2430015\",\"selectType\":\"\",\"onePrice\":\"1\",\"total_bonus\":150,\"hprize\":150,\"nums\":1,\"codeType\":\"\"}', '2026-01-27 15:29:19', '2026-01-27 15:29:19', '2026-01-27 15:29:19', NULL, 0, 0, 0, 0, 0, '192.168.124.3', '1', '', '0', '1', '', 0, NULL, 'web', NULL, '1769498959', '2026-01-27 15:29:19', '2026-01-27 15:29:19', '{\"level\":\"1\",\"single_prize\":\"150\",\"point\":\"0.000\",\"point_price\":\"0\",\"prize\":[\"150\"]}')
            </foreach>
        </foreach>

    </insert>
    <insert id="createIssueData">
        <foreach collection='titles' item='title' index='index' separator=';'>
            INSERT INTO ${title}_issue_info (`issue_id`, `lottery_id`, `code`, `issue`, `job_name`, `job_id`, `draw_date`, `open_date`, `belong_date`, `sale_start`, `sale_end`, `cancel_deadline`, `earliest_write_time`, `write_time`, `write_id`, `verify_time`, `verify_id`, `status_fetch`, `status_code`, `status_deduct`, `status_user_point`, `status_check_bonus`, `status_bonus`, `status_task_to_project`, `status_synced`, `status_locks`, `special_code`, `special_status`, `backup_status`, `backupdel_status`, `success_time1`, `success_time2`, `error`, `created_at`, `updated_at`)
            VALUES
            (#{issue.issueId}, #{issue.lotteryId}, '', #{issue.issue}, NULL, NULL, NULL, NULL, #{issue.belongDate},#{issue.saleStart}, #{issue.saleEnd}, #{issue.cancelDeadline}, #{issue.cancelDeadline}, NULL, 0, NULL, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '', 0, 0, 0, NULL, NULL, 0, '2026-01-13 19:13:58', '2026-01-13 19:13:58')
        </foreach>
    </insert>
</mapper>
