<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giving.mapper.UserFundMapper">

    <resultMap id="BaseResultMap" type="com.giving.entity.UserFundEntity">
            <id property="entry" column="entry" jdbcType="VARCHAR"/>
            <result property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="walletType" column="wallet_type" jdbcType="TINYINT"/>
            <result property="channelid" column="channelid" jdbcType="INTEGER"/>
            <result property="channelbalance" column="channelbalance" jdbcType="DECIMAL"/>
            <result property="availablebalance" column="availablebalance" jdbcType="DECIMAL"/>
            <result property="holdbalance" column="holdbalance" jdbcType="DECIMAL"/>
            <result property="islocked" column="islocked" jdbcType="INTEGER"/>
            <result property="lockAction" column="lock_action" jdbcType="VARCHAR"/>
            <result property="lastupdatetime" column="lastupdatetime" jdbcType="TIMESTAMP"/>
            <result property="lastactivetime" column="lastactivetime" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        entry,userid,wallet_type,
        channelid,channelbalance,availablebalance,
        holdbalance,islocked,lock_action,
        lastupdatetime,lastactivetime,created_at,
        updated_at
    </sql>
    <update id="updateAddOrdersList">
        update ${title}_user_fund
        SET channelbalance = #{updateFund.channelbalance},
              availablebalance = #{updateFund.availablebalance},
              holdbalance = #{updateFund.holdbalance},
              updated_at = now()
        WHERE userid = #{updateFund.userid}
          AND wallet_type = #{updateFund.walletType}
          AND islocked = 1
    </update>

    <select id="selectByNotice" resultType="com.giving.entity.UserFundEntity">
        select * from `${noticeReq.title}_user_fund`
        where userid = #{userId}
         and islocked = 0 and wallet_type = 0
    </select>

    <select id="selectByUserAndTypeOne" resultType="com.giving.entity.UserFundEntity">
        SELECT * FROM `${title}_user_fund`
        WHERE userid = #{userFund.userid}
          AND wallet_type = #{userFund.walletType}
    </select>

    <update id="updateLockedById" >
        update ${title}_user_fund
        SET islocked = #{userFund.islocked},
            lock_action = #{userFund.lockAction},
            updated_at = now()
        WHERE userid = #{userFund.userid}
          AND wallet_type = #{userFund.walletType}
    </update>

    <select id="selectByUserSum" resultType="com.giving.entity.UserFundEntity">
        SELECT userid,SUM(channelbalance) channelbalance,SUM(availablebalance) availablebalance,SUM(holdbalance) holdbalance
        FROM `${title}_user_fund`
        WHERE userid = #{userId}
          AND islocked = 0
        GROUP BY userid;
    </select>

    <!--    执行用户钱包解锁 批量1-->
    <update id="doLockUserFund">
        UPDATE ${title}_user_fund
        SET islocked = 0,
        lock_action = #{lockAction},
        updated_at = now()
        <where>
            wallet_type = #{walletType}
            <if test="userFundMap != null and userFundMap.size() > 0">
                AND userid IN
                <foreach collection="userFundMap" index="userId" item="val"
                         open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            </if>

            <!-- Map 为空时避免生成 IN () -->
            <if test="userFundMap == null or userFundMap.size() == 0">
                AND 1 = 2
            </if>
        </where>
    </update>

<!--    批量更新钱包金额-->
    <update id="doUpdateAddOrdersList">
        UPDATE ${title}_user_fund
        SET channelbalance = CASE
        <foreach collection="userFundMap" index="k" item="uf">
            WHEN userid = #{uf.userid} AND wallet_type = #{uf.walletType}
            THEN #{uf.channelbalance}
        </foreach>
        ELSE channelbalance
        END,
        availablebalance = CASE
        <foreach collection="userFundMap" index="k" item="uf">
            WHEN userid = #{uf.userid} AND wallet_type = #{uf.walletType}
            THEN #{uf.availablebalance}
        </foreach>
        ELSE availablebalance
        END,
        holdbalance = CASE
        <foreach collection="userFundMap" index="k" item="uf">
            WHEN userid = #{uf.userid} AND wallet_type = #{uf.walletType}
            THEN #{uf.holdbalance}
        </foreach>
        ELSE holdbalance
        END,
        updated_at = NOW()
        <where>
            AND islocked = 1

            <if test="userFundMap != null and userFundMap.size() > 0">
                AND (userid, wallet_type) IN
                <foreach collection="userFundMap" index="k" item="uf" open="(" close=")" separator=",">
                    (#{uf.userid}, #{uf.walletType})
                </foreach>
            </if>

            <!-- 防止 userFundMap 为空时生成全表更新 -->
            <if test="userFundMap == null or userFundMap.size() == 0">
                AND 1 = 2
            </if>
        </where>
    </update>
</mapper>
